/* ==========================================================================
   Main styles
   ========================================================================== */

/* Font Regular */

@font-face {
	font-family: 'Merriweather-Light';
	src: url('../fonts/Merriweather/Merriweather-Lightr.ttf');
	src: url('../fonts/Merriweather/Merriweather-Light.ttf') format("truetype");
}
/* Font Bold */

@font-face {
	font-family: 'Merriweather-Black';
	src: url('../fonts/Merriweather/Merriweather-Black.ttf');
	src: url('../fonts/Merriweather/Merriweather-Black.ttf') format("truetype");
}
/* ==========================================================================
   Type styles
   ========================================================================== */

body {
	font-family: 'Merriweather-Light', serif;
}
a {
	color: #141414;
}
h1 {
	font-family: 'Merriweather-Light', serif;
	font-size: 5em;
	font-weight: 300;
}
h2 {
	font-family: 'Merriweather-Black', serif;
	font-size: 2em;
	font-weight: 900;
}
h3 {
	font-size: 4em;
	font-weight: 300;
}
h4 {
	font-family: 'Merriweather-Black', serif;
	font-size: 1.5em;
	font-weight: 900;
}
h5 {
	font-size: 2em;
}
a {
	text-decoration: none;
}
hr {
	border-top: .5em solid #9a2424;
	max-width: 25%;
	margin-left: 0;
}
.c {
	text-align: center;
}
.lead {
	padding: 1em;
}
@media (max-width: 1024px) {
	h1 {
		font-size: 2em;
		font-weight: 300;
	}
	h3 {
		font-size: 1.5em;
		font-weight: 300;
	}
}
/* ==========================================================================
   Video Embed
   ========================================================================== */

.ev {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.ev iframe, .ev object, .ev embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* ==========================================================================
   Navigation Style
   ========================================================================== */

.navbar-default {
	background: transparent;
	margin-bottom: 0;
	position: absolute;
	border: none;
	box-shadow: none;
}
.navbar-default .navbar-header {
	width: 28%;
	padding-right: 15px;
}
.navbar-default .nav-wrap {
	width: 50%;
}
.navbar-brand {
	display: block;
	margin: 0 auto;
}
.navbar-brand>img {
	width: 100%;
	height: auto;
}
.navbar-default .nav>li>a {
	font-size: 14px;
	color: #fff;
	font-weight: 300;
	padding: 35px 15px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:active {
	color: #9a2424;
}
.navbar-default .social-media {
	float: right;
	padding: 0 15px;
}
.navbar-default .social-media i {
	font-size: 22px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: transparent;
	color: #952222;
}
.top-nav-collapse {
	background: #0b0c0c;
}
.top-nav-collapse .navbar-brand {
	height: auto;
}
.top-nav-collapse .navbar-brand img {}
.top-nav-collapse .nav>li>a {
	padding: 30px 15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #0b0c0c;
}
@media (max-width: 1024px) {
	.navbar-brand {
		padding: 1em;
	}
	.navbar-brand>img {
		max-height: 3em;
		width: auto;
	}
	.nav-bar>li {
		text-align: center;
	}
	#bs-example-navbar-collapse-1 {
		background-color: #000;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.social-media {
		display: none;
	}
	.navbar-default .navbar-header, .navbar-default .nav-wrap {
		width: 100%;
		padding: 2em;
	}
	.navbar-toggle {
		margin: 1em 0;
	}
}
@media (min-width: 767px) and (max-width: 1024px) {
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.navbar-header .collapse, .navbar-toggle {
		display: block !important;
	}
	.navbar-header {
		float: none;
	}
}
/* ==========================================================================
   Hover Style
   ========================================================================== */

.h {
	color: #9a2424;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	position: relative;
	width: 100%
}
.h:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	background: #9a2424;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 100%;
	margin: .5em 0;
}
.h:hover:after {
	width: 0;
	left: 50%;
}
/* ==========================================================================
   Hero Section
   ========================================================================== */

.hero {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/mockups_hero.jpg');
	background-color: #0b0c0c;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.inner {
	color: #fff;
	text-align: center;
	padding: 20em;
}
@media (max-width: 1024px) {
	.inner {
		padding: 5em;
	}
}
/* ==========================================================================
   Module Meta
   ========================================================================== */

.f {
	padding: 0;
	overflow: hidden;
}
.s {
	padding: 8em 0em;
}
.ss {
	padding: 2em 0em;
}
.in {
	color: #fff;
	max-width: 50%;
	padding: 15em 10em;
}
.inl {
	color: #fff;
	max-width: 50%;
	padding: 15em 10em;
}
@media (max-width: 1024px) {
	.in {
		max-width: 100%;
		padding: 10em 5em;
	}
	.inl {
		max-width: 100%;
		padding: 10em 5em;
	}
	.s {
		padding: 4em 0em;
	}
}
/* ==========================================================================
	    Screen Section
	 ========================================================================== */

#screens {
	background-color: #e7ebee;
}
.screens {
	background: #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/screens.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right;
}
/* ==========================================================================
	 Product Section
	 ========================================================================== */

#products {
	background-color: #9a2424;
}
.products {
	background: #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/products.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left;
}
/* ==========================================================================
	 Medium Section
	 ========================================================================== */

#mediums {
	background-color: #e7ebee;
}
.mediums {
	background: #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/mediums.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right;
}
/* ==========================================================================
	 Merchandise Section
	 ========================================================================== */

#merchandise {
	background-color: #9a2424;
}
.merchandise {
	background: #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/merchandise.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left;
}
/* ==========================================================================
   Button Style
   ========================================================================== */

.b {
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 0px;
	right: 25%;
	left: 25%;
	margin: 0 auto;
	padding-bottom: 10%;
	text-align: center;
}
.bbutton {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	padding: 2% 10%;
}
.bbutton:hover {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
	transition: 0.1s ease;
}
.bwbutton {
	color: #141414;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 2% 10%;
}
.bwbutton:hover {
	color: #fff;
	background-color: #141414;
	border: 2px solid #141414;
	transition: 0.1s ease;
}
@media (max-width: 1024px) {
	.bwbutton {
		margin-top: 1em;
	}
}
/* ==========================================================================
   Highlight Style
   ========================================================================== */

::selection {
	background: #9a2424;
}
::-moz-selection {
	background: #9a2424;
}
